.Serv1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 840px;
    -webkit-align-items:stretch;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
}

.Serv1left {
    background-color: white;
}

.Serv1left h1 {
    font-size: 36px;
    letter-spacing: -2px;
    padding: 40px;
    font-weight: 800;
    color: black;
}

.Serv1left p {
    font-size: 48px;
    letter-spacing: -2px;
    padding: 40px;
    font-weight: 400;
    color: black;
}

.Serv1right {
    background-image: url("../images/gradient.png");
}
