.Serv2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 840px;
    -webkit-align-items:stretch;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    background-size: cover;
    background-position: center;
}

.Serv2right {
    background-color: #444DDC;
}

.Serv2right h1 {
    font-size: 48px;
    letter-spacing: -2px;
    margin: 80px 0px 0px 40px;
    font-weight: 800;
    color: white;
}

.Serv2right p {
    font-size: 24px;
    letter-spacing: 0px;
    margin: 60px 40px 0px 40px;
    font-weight: 400;
    color: white;
}

.Serv2right button {
    background-color: #444DDC;
    border: 2px solid #fff;
    font-size: 24px;
    letter-spacing: 0px;
    border-radius: 45px;
    margin-top: 100px;
    margin-left: 40px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.Serv2right button:hover {
    box-shadow: 0 10px 20px rgba(255,255,255,0.25);
    transform: translateY(-5px);
    background-color: white;
    color: #444DDC;
}

.Serv2left {
    background-image: url("../images/serv2-bg.png");
}
