@import url('https://fonts.googleapis.com/css2?family=Manrope');

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.3;
}

a {
  color: #f77f00;
  font-weight: 600;
  text-decoration: none;
}

.Hero {
  background: #FFF9ED;
  height: 920px;
  background-size: cover;
  background-position: center;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
}

.Hero p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  line-height: 1.5;
}

.Hero a {
  font-size: 24px;
  color: white;
  text-transform: capitalize;
  background: #000000;
  padding: 9px 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;    
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 24px;
  }
}

